.questions{
    width:100%;
}
.question-container{
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
    padding:5px;
    width:100%;
    display:table;
    margin-bottom: 3px;
}
.question-container:hover{
}
.selected{
    -webkit-box-shadow: 1px 1px 1px 1px #AAAAAA;
    box-shadow: 1px 1px 1px 1px #AAAAAA; 
    margin-left:-5px;
    border:none;
    margin-top:-4px;
    /*background-color: orange;*/
}
.question{
    position: relative;    
    display:table-row;
}
#filter-options{
    text-align: center;
}
.checkbox{
    width:25px;
    display:table-cell;
    vertical-align: middle;
}
.tags{
    white-space: nowrap;
    width: 180px;
    display:table-cell;
    vertical-align: middle;
}
.tag.subject, .tag.type, .tag.user, .tag.group{
    cursor: pointer;
}
.used{
    color:red;
    width:25px;
    display:table-cell;
    vertical-align: middle;
}
.text{
    display: table-cell;
}
a:visited{
    color:black;
}
a{
    color:black;
}
a:hover{
    color:blue;
    text-decoration: underline;
}
.del,.edit{
    display:none;
    opacity: 0.4;
    cursor: pointer;
}

.tag{
    border-radius: 2px;
    padding:0 3px;
    font-size: .8em;
    margin:0 2px;
    color:#444444;
    background-color: #E9E9E9;
}
.orderable{
    cursor: pointer;
}
.orderable:hover{
    background-color: #EEEEEE;
}
.icons{
    height:18px;
}
.options{
    width:40px;
    text-align: center;
    vertical-align: middle;
    height:25px;
}
.icon{
    opacity: 0.4;
    cursor: pointer;
    height:19px;
    vertical-align: middle;
    display:none;
}
.icon:hover{
    opacity: 1;
}
