{% extends "base.html" %}
{% block head %}
    <style type="text/css">
    #permissions{
        display: none;
        border:1px groove gray;
        background-color: #E5E5E5;
        width:300px;
        padding:20px;
    }
    header h3{
        margin:0;
    }
    header .success{
        color:#EEEEEE;
    }
    /*#content-container{
        padding:2em;
    }*/
    </style>
{% endblock head %}

{% block header %}
    <h1>{{group.name}}</h1>
{% endblock header %}

{% block content %}
    {%if user == group.creator or user in group.admins%}
        <script type="text/javascript">
        $(document).ready(function(){
            $("#permissions").load("{{group.get_perms_url}}");
            $("#togglePerms").click(function(){
                $("#permissions").slideToggle();
                return false;
            });
        });
        </script>
        <a href="{{group.get_edit_url}}">Edit Group</a> | 
        <a id="togglePerms" href="{{group.get_perms_url}}">Edit Perms</a>
        <div id="permissions">
        </div>         
     {% endif %} 
    <h2>Description</h2>
    <p>
        {{group.description}}
    </p>
    <h2>Admins</h2>
    <ul>
        <li>{{group.creator.get_full_name}}</li>
        {%for x in group.admins%}
            <li>{{x.get_full_name}}</li>
        {%endfor%}
    </ul>
    <h2>Users</h2>
    <ul>
        {%for x in group.reg_users%}
            <li>{{x.get_full_name}}</li>
        {%endfor%}
    </ul>         
{% endblock content %}