{% extends "base.html" %}
{% block head %}
    <style type="text/css">
    #permissions{
        display: none;
        border:1px groove gray;
        background-color: #E5E5E5;
        width:300px;
        padding:20px;
    }
    header h3{
        margin:0;
    }
    header .success{
        color:#EEEEEE;
    }
    </style>
{% endblock head %}

{% block header %}
        <h1>{{group.name}}</h1>
        {% if user in group.pending %}
        <h3 class="success">Your application to this group is pending approval.</h3>
    {% else %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#join").click(function(){
                    $.get("/ajax/group/{{group.uid}}/{{user.id}}/", function(data){
                        if(data.success){
                            window.location.reload();
                        }
                    });
                });
            });
        </script>
        <button id="join">Join Group</button>
    {% endif %}
{% endblock header %}

{% block content %}    
    
    <h2>Description</h2>
    <p>
        {{group.description}}
    </p>
    <h2>Admins</h2>
    <ul>
        <li>{{group.creator.get_full_name}}</li>
        {%for x in group.admins%}
            <li>{{x.get_full_name}}</li>
        {%endfor%}
    </ul>
    <h2>Users</h2>
    <ul>
        {%for x in group.reg_users%}
            <li>{{x.get_full_name}}</li>
        {%endfor%}
    </ul>         
{% endblock content %}