{%extends "form_base.html"%}

{%block title%}{{title}}{%endblock%}
{%block head%}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.hotkeys.js"></script>
    <script>
        var choices = ["w", "x", "y", "z"];
        $(document).ready(function(){   
            if({{success}}){
                flashMessage("Question added.");
            }    
            $("#id_subject").change(function(){
                $.getJSON("/ajax/subtopics/", {"subject": $(this).val(), "group": $("#id_group").val()}, function(data){
                    if(data.success){
                        for(var x in data.choices){
                            console.log(data.choices[x]);
                        }
                    }
                });
            });
            $("#id_group").change(function(){
                if($(this).val()==""){
                    window.location.href = "/question/add/";
                }else{
                    window.location.href = "/question/add/" + $(this).val() + "/";
                }
            });
            window.innerWidth = $("#content-container").outerWidth();
            window.innerHeight = $("#content-container").height()+80;
            if($("#id_type").val()==0){
                $($("#id_choice_w").parent().parent("tr")).show();
                $($("#id_choice_x").parent().parent("tr")).show();
                $($("#id_choice_y").parent().parent("tr")).show();
                $($("#id_choice_z").parent().parent("tr")).show();
                $($("#id_answer").parent().parent("tr")).hide();
                $($("#mc_answer").parent().parent("tr")).show();
                $("#shuffle").show();
            }else{
                $($("#id_choice_w").parent().parent("tr")).hide();
                $($("#id_choice_x").parent().parent("tr")).hide();
                $($("#id_choice_y").parent().parent("tr")).hide();
                $($("#id_choice_z").parent().parent("tr")).hide();
                $($("#id_answer").parent().parent("tr")).show();
                $($("#mc_answer").parent().parent("tr")).hide();
                $("#shuffle").hide();
            }   
            $("#id_type").change(function(){
                if($(this).val()==0){
                    $($("#id_choice_w").parent().parent("tr")).show();
                    $($("#id_choice_x").parent().parent("tr")).show();
                    $($("#id_choice_y").parent().parent("tr")).show();
                    $($("#id_choice_z").parent().parent("tr")).show();
                    $($("#id_answer").parent().parent("tr")).hide();
                    $($("#mc_answer").parent().parent("tr")).show();
                    $("#shuffle").show();
                }else{
                    $($("#id_choice_w").parent().parent("tr")).hide();
                    $($("#id_choice_x").parent().parent("tr")).hide();
                    $($("#id_choice_y").parent().parent("tr")).hide();
                    $($("#id_choice_z").parent().parent("tr")).hide();
                    $($("#id_answer").parent().parent("tr")).show();
                    $($("#mc_answer").parent().parent("tr")).hide();
                    $("#shuffle").hide();
                }
            });
            $("form").submit(function(){
                if($("#id_type").val()==0){
                    $("#id_answer").val($("#mc_answer").val());
                }
                // if(opener!=null&&opener.location.href.indexOf("/account/questions/")!=-1){
                //     opener.location.reload(true);
                // }
            });
            addListeners();
        });
        function addListeners(){
            $(document).bind("keydown", "ctrl+s", function(e){
                e.preventDefault();
                $("form").submit();
                return false;
            });
            $(document).bind("keydown", "ctrl+e", function(e){
                e.preventDefault();
                shuffleQuestions();
                return false;
            });
            $(document).bind("keydown", "ctrl+1", function(e){
                e.preventDefault();
                $("#mc_answer").val(choices[0]);
                return false;
            });
            $(document).bind("keydown", "ctrl+2", function(e){
                e.preventDefault();
                $("#mc_answer").val(choices[1]);
                return false;
            });
            $(document).bind("keydown", "ctrl+3", function(e){
                e.preventDefault();
                $("#mc_answer").val(choices[2]);
                return false;
            });
            $(document).bind("keydown", "ctrl+4", function(e){
                e.preventDefault();
                $("#mc_answer").val(choices[3]);
                return false;
            });
        }
        function closeWindow(){
            if(opener!=null&&opener.location.href.indexOf("/account/questions/")!=-1){
                opener.location.reload(true);
            }
            window.close();
        }
        function arrayify_questions(){
            var questions = [
                {
                    ans: $("#id_choice_w").val(),
                    selected: $("#mc_answer").val()=="w"
                },
                {
                    ans: $("#id_choice_x").val(),
                    selected: $("#mc_answer").val()=="x"
                },
                {
                    ans: $("#id_choice_y").val(),
                    selected: $("#mc_answer").val()=="y"
                },
                {
                    ans: $("#id_choice_z").val(),
                    selected: $("#mc_answer").val()=="z"
                },
            ];
            return questions;
        }
        function shuffle(o){
            for(var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
                return o;
        }
        function shuffleQuestions(){
            var arr = shuffle(arrayify_questions());
            $("#id_choice_w").val(arr[0].ans);
            $("#id_choice_x").val(arr[1].ans);
            $("#id_choice_y").val(arr[2].ans);
            $("#id_choice_z").val(arr[3].ans);
            for(var x = 0; x<arr.length; x++){
                if(arr[x].selected){
                    $("#mc_answer").val(choices[x]);
                }
            }
        }
        {%if question%}
            function deleteQuestion(){
                $.get("{{question.get_del_url}}", function(data){
                    if(data.success){
                        $("#content-container").html("<h1>Question Removed</h1>");
                        closeWindow();
                    }else{
                        alert("An error as occured");
                    }
                });
            }
        {%endif%}
    </script>
    <style type="text/css">
    #content-container{
        margin:0;
        width:auto;
        padding:10px;
    }
    #nav{
        text-align: right;
    }
    header h1{
        margin:0;
    }
    textarea{
        resize:vertical;
    }
    #q_count{
        position: fixed;
        padding:5px;
        right:0;
        bottom:0;
        font-size: 0.7em;
        text-align: right;
    }
    #shuffle{
        font-size: 0.7em;
    }
    </style>
{%endblock%}

{%block topbar%}
<div id="nav">
    {%if question%}
        <a href="javascript:deleteQuestion()">Delete Question</a>
    {%endif%}
    <a href="javascript:closeWindow()">Close</a>
</div>
{%endblock%}

{% block header %}
    <h1>{{title}}</h1>
{% endblock header %}

{%block form%}
<form method="post" action="{{action}}">
    <table>
        {%for field in form%}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}}</td>
        </tr>
        <tr>
            <td colspan="2">{{field.errors}}</td>
        </tr>
        {%endfor%}
        <tr>
            <th>Answer</th>
            <td>
                <select id="mc_answer">                    
                    <option value="w" {%if ans == "w"%}selected='selected'{%endif%}>W</option>
                    <option value="x" {%if ans == "x"%}selected='selected'{%endif%}>X</option>
                    <option value="y" {%if ans == "y"%}selected='selected'{%endif%}>Y</option>
                    <option value="z" {%if ans == "z"%}selected='selected'{%endif%}>Z</option>
                </select>
                <a id="shuffle" href="javascript:shuffleQuestions()">Shuffle</a>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>
<div id="q_count">
    This session: {{tot_written}} <br/>
    Written questions: {{q_count}}
</div>
{%endblock%}