{%extends "form_base.html"%}

{%block title%}{{title}}{%endblock%}
{%block head%}
    <script src="/static/js/jquery.js"></script>
    <script>
        $(document).ready(function(){   
            if({{success}}){
                flashMessage("Question added.");
            }    
            window.innerWidth = $("#content-container").outerWidth();
            window.innerHeight = $("#content-container").height()+80;
            if($("#id_type").val()==0){
                $($("#id_choice_w").parent().parent("tr")).show();
                $($("#id_choice_x").parent().parent("tr")).show();
                $($("#id_choice_y").parent().parent("tr")).show();
                $($("#id_choice_z").parent().parent("tr")).show();
                $($("#id_answer").parent().parent("tr")).hide();
                $($("#mc_answer").parent().parent("tr")).show();
            }else{
                $($("#id_choice_w").parent().parent("tr")).hide();
                $($("#id_choice_x").parent().parent("tr")).hide();
                $($("#id_choice_y").parent().parent("tr")).hide();
                $($("#id_choice_z").parent().parent("tr")).hide();
                $($("#id_answer").parent().parent("tr")).show();
                $($("#mc_answer").parent().parent("tr")).hide();
            }   
            $("#id_type").change(function(){
                if($(this).val()==0){
                    $($("#id_choice_w").parent().parent("tr")).show();
                    $($("#id_choice_x").parent().parent("tr")).show();
                    $($("#id_choice_y").parent().parent("tr")).show();
                    $($("#id_choice_z").parent().parent("tr")).show();
                    $($("#id_answer").parent().parent("tr")).hide();
                    $($("#mc_answer").parent().parent("tr")).show();
                }else{
                    $($("#id_choice_w").parent().parent("tr")).hide();
                    $($("#id_choice_x").parent().parent("tr")).hide();
                    $($("#id_choice_y").parent().parent("tr")).hide();
                    $($("#id_choice_z").parent().parent("tr")).hide();
                    $($("#id_answer").parent().parent("tr")).show();
                    $($("#mc_answer").parent().parent("tr")).hide();
                }
            });
            $("form").submit(function(){
                if($("#id_type").val()==0){
                    $("#id_answer").val($("#mc_answer").val());
                }
                // if(opener!=null&&opener.location.href.indexOf("/account/questions/")!=-1){
                //     opener.location.reload(true);
                // }
            });
        });
        function closeWindow(){
            if(opener!=null&&opener.location.href.indexOf("/account/questions/")!=-1){
                opener.location.reload(true);
            }
            window.close();
        }
        {%if question%}
            function deleteQuestion(){
                $.get("{{question.get_del_url}}", function(data){
                    if(data.success){
                        $("#content-container").html("<h1>Question Removed</h1>");
                        closeWindow();
                    }else{
                        alert("An error as occured");
                    }
                });
            }
        {%endif%}
    </script>
    <style type="text/css">
    #content-container{
        margin:0;
        width:auto;
        padding:10px;
    }
    #nav{
        text-align: right;
    }
    header h1{
        margin:0;
    }
    textarea{
        resize:vertical;
    }
    #q_count{
        position: fixed;
        padding:5px;
        right:0;
        bottom:0;
        font-size: 0.7em;
        text-align: right;
    }
    </style>
{%endblock%}

{%block topbar%}
<div id="nav">
    {%if question%}
        <a href="javascript:deleteQuestion()">Delete Question</a>
    {%endif%}
    <a href="javascript:closeWindow()">Close</a>
</div>
{%endblock%}

{% block header %}
    <h1>{{title}}</h1>
{% endblock header %}

{%block form%}
<form method="post" action="{{action}}">
    <table>
        {%for field in form%}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}}</td>
        </tr>
        <tr>
            <td colspan="2">{{field.errors}}</td>
        </tr>
        {%endfor%}
        <tr>
            <th>Answer</th>
            <td>
                <select id="mc_answer">                    
                    <option value="w" {%if ans == "w"%}selected='selected'{%endif%}>W</option>
                    <option value="x" {%if ans == "x"%}selected='selected'{%endif%}>X</option>
                    <option value="y" {%if ans == "y"%}selected='selected'{%endif%}>Y</option>
                    <option value="z" {%if ans == "z"%}selected='selected'{%endif%}>Z</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>
<div id="q_count">
    This session: {{tot_written}} <br/>
    Written questions: {{q_count}}
</div>
{%endblock%}