{%extends "form_base.html"%}

{%block title%}{{title}}{%endblock%}
{%block head%}
    <script src="/static/js/jquery.js"></script>
    <script>
        $(document).ready(function(){   
            if({{success}}){
                flyDown("Question Added",0);
            }    
            window.innerWidth = $("#content-container").outerWidth();
            window.innerHeight = $("#content-container").height()+80;
            if($("#id_type").val()==0){
                $($("#id_choice_w").parent().parent("tr")).show();
                $($("#id_choice_x").parent().parent("tr")).show();
                $($("#id_choice_y").parent().parent("tr")).show();
                $($("#id_choice_z").parent().parent("tr")).show();
                $($("#id_answer").parent().parent("tr")).hide();
                $($("#mc_answer").parent().parent("tr")).show();
            }else{
                $($("#id_choice_w").parent().parent("tr")).hide();
                $($("#id_choice_x").parent().parent("tr")).hide();
                $($("#id_choice_y").parent().parent("tr")).hide();
                $($("#id_choice_z").parent().parent("tr")).hide();
                $($("#id_answer").parent().parent("tr")).show();
                $($("#mc_answer").parent().parent("tr")).hide();
            }   
            $("#id_type").change(function(){
                if($(this).val()==0){
                    $($("#id_choice_w").parent().parent("tr")).show();
                    $($("#id_choice_x").parent().parent("tr")).show();
                    $($("#id_choice_y").parent().parent("tr")).show();
                    $($("#id_choice_z").parent().parent("tr")).show();
                    $($("#id_answer").parent().parent("tr")).hide();
                    $($("#mc_answer").parent().parent("tr")).show();
                }else{
                    $($("#id_choice_w").parent().parent("tr")).hide();
                    $($("#id_choice_x").parent().parent("tr")).hide();
                    $($("#id_choice_y").parent().parent("tr")).hide();
                    $($("#id_choice_z").parent().parent("tr")).hide();
                    $($("#id_answer").parent().parent("tr")).show();
                    $($("#mc_answer").parent().parent("tr")).hide();
                }
            });
            $("form").submit(function(){
                if($("#id_type").val()==0){
                    $("#id_answer").val($("#mc_answer").val());
                }
                if(opener!=null){
                    opener.location.reload(true);
                }
            });
        });
        function closeWindow(){
            if(opener!=null&&opener.location.href.indexOf("/home/")!=-1){
                opener.location.reload(true);
            }
            window.close();
        }
    </script>
    <style type="text/css">
    #content-container{
        margin:0;
        width:auto;
        padding:10px;
    }
    #nav a{
        position:absolute;
        right:5px;
    }
    header h1{
        margin:0;
    }
    textarea{
        resize:vertical;
    }
    </style>
{%endblock%}

{%block topbar%}
<div id="nav">
    <a href="javascript:closeWindow()">Close</a>
</div>
{%endblock%}

{% block header %}
    <h1>{{title}}</h1>
{% endblock header %}

{%block form%}
<form method="post" action="{{action}}">
    <table>
        {%for field in form%}
        <tr>
            <th>{{field.label_tag}}</th>
            <td>{{field}}</td>
        </tr>
        <tr>
            <td colspan="2">{{field.errors}}</td>
        </tr>
        {%endfor%}
        <tr>
            <th>Answer</th>
            <td>
                <select id="mc_answer">
                    <option value="w">W</option>
                    <option value="x">X</option>
                    <option value="y">Y</option>
                    <option value="z">Z</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>
{%endblock%}