{%extends 'base.html'%}
{%block head%}
<link rel="stylesheet" type="text/css" href="/static/css/question_table_main.css"/>
<style>
    .user{
        width:120px;
        overflow:hidden;
    }
    .used{
        width:50px;
        text-align: center;
    }
    #filter-options{
        background-color:#EEEEEE;
        padding:10px;
        text-align: center;
    }
</style>
{% if user.is_authenticated %}
<script>
    var currOrder="";
    var selectedSubject="";
    var selectedUser="";
    var selectedType="";
    var selectedUsed="used=0";
    $(document).ready(function(){     
        if(opener!=null){
            window.close();
        }else{
            if($("#subject-select").val()!="---"){
                selectedSubject = "subject="+$("#subject-select").val();
            }
            if($("#user-select").val()!="---"){
                selectedUser = "creator="+$("#user-select").val();
            }
            if($("#type-select").val()!="---"){
                selectedType = "type="+$("#type-select").val();
            }
            if($("#show-used").attr("checked")!=undefined){
                selectedUsed = "";
            }
            update();
        }        
        $("#subject-select").change(function(){
            var subject = $(this).val();
            if(subject=="---"){
                selectedSubject="";
            }else{
                selectedSubject = "subject="+subject;
            }
            update();
        });
        $("#user-select").change(function(){
            var user = $(this).val();
            if(user=="---"){
                selectedUser="";
            }else{
                selectedUser = "creator="+user;
            }
            update();
        });
        $("#type-select").change(function(){
            var type = $(this).val();
            if(type=="---"){
                selectedType="";
            }else{
                selectedType = "type="+type;
            }
            update();
        });
        $("#show-used").change(function(){
            if($(this).attr("checked") != undefined){
                selectedUsed="";
            }else{
                selectedUsed="used=0";
            }
            update();
        });        
    });
    function update(order=""){
        var filterString = selectedSubject+"&"+selectedUser+"&"+selectedType + "&" + selectedUsed;
        $.get('/getall/?all=true&'+order+"&"+filterString, function(data){
            var table = $("#questions");
            $(".question").unbind();
            $(".del").unbind();
            $("#questions .text a").unbind();
            table.html("");
            table.append("<tr><th class='orderable' data-order='subject'>Subject</th><th class='orderable' data-order='type'>Type</th><th class='orderable' data-order='creator'>User</th><th>Question</th><th class='orderable' data-order='is_used'>Used</th></tr>");
            for(var x = 0; x<data.length; x++){
                var q = data[x];
                table.append("<tr class='question' title='Ans: "+q.answer+"'></tr>");
                var question = $(".question").last();
                question.append("<td class='subject'>"+q.subject+"</td>");
                question.append("<td class='type'>"+((q.type==0)?"MC":"SA")+"</td>");
                question.append("<td class='user'>"+q.user+"</td>");
                question.append("<td class='text'><a href='/question/edit/"+q.id+"/'>"+q.text+"</a><img class='del' data-id='"+q.id+"' src='/static/images/trash.png'/></td>");
                question.append("<td class='used'>"+((q.used==1)?"<img height='15px' src='/static/images/check.png'/>":"<img height='15px' src='/static/images/cancel.png'/>")+"</td>");
            }    
            $(".orderable").click(function(){
                var temp = $(this).attr("data-order");
                if(currOrder.trim() == temp.trim()){
                    currOrder = "-"+currOrder;
                }else{
                    currOrder = temp;
                }
                update("order="+currOrder);
            });
            $(".question").hover(
                function(){
                    $(this).css('background-color','#BFEDFF');
                    $($(this).children(".text").children(".del")).show();
                }, 
                function(){
                    $(this).css('background-color','transparent');
                    $($(this).children(".text").children(".del")).hide();
                }
            );
            $(".del").hover(
                function(){
                    $(this).css("opacity",1);
                },
                function(){
                    $(this).css("opacity",.4);
                }
            );
            $(".del").click(function(){
                var q_id = $(this).attr("data-id");
                var ok = confirm("Are you sure you want to delete this entry?");
                if (ok == true){
                    $.get('/question/delete/'+q_id+"/", function(data){
                        if(data.success="true"){
                            flyDown("Entry Successfully Deleted.",0);
                        }else{
                            flyDown("Delete unsuccessful.",1)
                        } 
                        update();
                    });
                }
            });
            $("#questions .text a").click(function(){
                var url = $(this).attr('href');            
                var specs = "width=450,height=500,menubar=0,scrollbars=0,toolbar=0,status=0,toolbar=0,resizable=0,location=0";
                newWindow = window.open(url,"Edit Question",specs);
                return false;
            });
        });
    }
</script>
{%endif%}
{%endblock%}

{%block content%}
    {%if user.is_authenticated and user.is_staff%}
        <div id="filter-options">
            <h1>All Questions</h1>
            Subject
            <select id="subject-select">
                <option selected="selected">---</option>
                {%for subject in subjects%}
                    <option value="{{subject.name}}">{{subject}}</option>
                {%endfor%}
            </select>
            Type <select id="type-select">
                <option selected="selected">---</option>
                <option value="0">Multiple Choice</option>
                <option value="1">Short Answer</option>
            </select>
            User <select id="user-select">
                <option selected="selected">---</option>
                {%for user in users%}
                    <option value="{{user.id}}">{{user.get_full_name}} ({{user}})</option>
                {%endfor%}
            </select>
            Show Used <input type="checkbox" id="show-used" name="used"/> <br/>            
        </div>
        <table id="questions">
        </table>
    {%else%}
        <h1>You don't have access to this page.</h1>        
    {%endif%}
{%endblock%}