{%extends 'base.html'%}
{%block head%}
<link rel="stylesheet" type="text/css" href="/static/css/question_table_main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/chosen.css"/>
<script type="text/javascript" src="/static/js/chosen.jquery.js"></script>
<style>      
    .chzn-results{
        text-align: left;
    }
</style>
<script>
    var currOrder="";
    var selectedSubject="";
    var selectedUser="";
    var selectedType="";
    var selectedUsed="0";
    $(document).ready(function(){     
        $("#subject-select").chosen();
        $("#user-select").chosen();
        if(opener!=null){
            window.close();
        }else{
            if($("#subject-select").val()!=null){
                selectedSubject = $("#subject-select").val().join(",");
            }
            if($("#user-select").val()!=null){
                selectedUser = $("#user-select").val().join(",");
            }
            if($("#type-select").val()!="---"){
                selectedType = $("#type-select").val();
            }
            if($("#show-used").attr("checked")!=undefined){
                selectedUsed = "1";
            }
            update();
        }        
        $("#subject-select").change(function(){
            var subject = $(this).val();
            if(subject==null){
                selectedSubject="";
            }else{
                selectedSubject = subject.join(",");
            }
            update();
        });
        $("#user-select").change(function(){
            var user = $(this).val();
            if(user==null){
                selectedUser="";
            }else{
                selectedUser = user.join(",");
            }
            update();
        });
        $("#type-select").change(function(){
            var type = $(this).val();
            if(type=="---"){
                selectedType="";
            }else{
                selectedType = type;
            }
            update();
        });
        $("#show-used").change(function(){
            if($(this).attr("checked") != undefined){
                selectedUsed="1";
            }else{
                selectedUsed="0";
            }
            update();
        });        
    });

    function update(){
        $.get('{{path}}?creator='+selectedUser+'&subject='+selectedSubject,{"order":currOrder, "all":true, "used":selectedUsed, "type":selectedType}, function(data){
            var table = $("#questions");
            $(".question").unbind();
            $(".del").unbind();
            $("#questions .text a").unbind();
            table.html("");
            // table.append("<tr><th class='orderable' data-order='subject'>Subject</th><th class='orderable' data-order='type'>Type</th><th class='orderable' data-order='creator'>User</th><th>Question</th><th></th><th class='orderable' data-order='is_used'>Used</th></tr>");
            for(var x = 0; x<data.length; x++){
                var q = data[x];
                table.append("<tr class='question'></tr>");
                var question = $(".question").last();
                question.append("<td class='checkbox'><input type='checkbox' /></td>");
                question.append("<td class='tags'></td>");
                question.append("<td class='text'>"+q.text+"</td>");
                //Add tags
                var tags = $(".tags").last();
                tags.append("<span class='tag subject' title='Filter similar subject' data-id='"+q['subject-id']+"'>"+q.subject+"</span>");
                tags.append("<span class='tag user' title='Filter similar user' data-id='"+q['user-id']+"'>"+q['user-short']+"</span>");
                tags.append("<span class='tag type' title='Filter similar type' data-id='"+q.type+"''>"+((q.type==0)?"MC":"SA")+"</span>");
                if(q.used==1){
                    tags.append("<span class='tag used'>Used</span>");
                }
            }   
            addTableListeners();
        });
    }

    function addTableListeners(){
        $(".tag.subject").click(function(){
            $("#subject-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
            $("#subject-select").trigger("liszt:updated");
        });
        $(".tag.user").click(function(){
            $("#user-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
            $("#user-select").trigger("liszt:updated");
        });
        $(".tag.type").click(function(){
            $("#type-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
        });   
        $(".orderable").click(function(){
            var temp = $(this).attr("data-order");
            if(currOrder.trim() == temp.trim()){
                currOrder = "-"+currOrder;
            }else{
                currOrder = temp;
            }
            update();
        });
        $(".del").click(function(){
            var q_id = $(this).attr("data-id");
            var ok = confirm("Are you sure you want to delete this entry?");
            if (ok == true){
                $.get('/question/delete/'+q_id+"/", function(data){
                    if(data.success="true"){
                        flyDown("Entry Successfully Deleted.",0);
                    }else{
                        flyDown("Delete unsuccessful.",1)
                    } 
                    update();
                });
            }
        });
        $(".edit").click(function(){
            var q_id = $(this).attr("data-id");
            var url = "/question/edit/"+q_id+"/"
            var specs = "width=450,height=500,menubar=0,scrollbars=0,toolbar=0,status=0,toolbar=0,resizable=0,location=0";
            newWindow = window.open(url,"Edit Question",specs);
            return false;
        });
        $("#questions .text a").click(function(){
            var url = $(this).attr('href');            
            var specs = "width=450,height=500,menubar=0,scrollbars=0,toolbar=0,status=0,toolbar=0,resizable=0,location=0";
            newWindow = window.open(url,"Edit Question",specs);
            return false;
        });
    }
</script>
{%endblock%}

{%block content%}
    <div id="filter-options">
        <h1>{{group.name}} Questions</h1>
        Subject
        <select id="subject-select" multiple="multiple" data-placeholder="Subjects to filter">
            {%for subject in subjects%}
                <option value="{{subject.id}}">{{subject}}</option>
            {%endfor%}
        </select>
        Type <select id="type-select">
            <option selected="selected">---</option>
            <option value="0">Multiple Choice</option>
            <option value="1">Short Answer</option>
        </select>
        User <select id="user-select" multiple="multiple" data-placeholder="Users to filter">
            {%for user in users%}
                <option value="{{user.id}}">{{user.get_full_name}} ({{user}})</option>
            {%endfor%}
        </select>
        Show Used <input type="checkbox" id="show-used" name="used"/> <br/>            
    </div>
    <table id="questions">
    </table>
{%endblock%}