{%extends 'base.html'%}
{%block head%}
<link rel="stylesheet" type="text/css" href="/static/css/question_table_main.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/chosen.css"/>
<script type="text/javascript" src="/static/js/chosen.jquery.js"></script>
<style>      
    .chzn-results{
        text-align: left;
    }
    #selection-options{
        display:none;
    }
    #select-options{
        float: left;
        background-color: #EEEEEE;
        border:1px solid gray;
        width:50px;
    }
    #select-options input[type=checkbox]{
        margin:10px;
    }
    #options{
        position: relative;
        margin:0 auto;
        width:1024px;
        height: 30px;
    }

</style>
<script>
    var currOrder="";
    var selectedSubject="";
    var selectedUser="";
    var selectedType="";
    var selectedGroup="";
    var selectedUsed="0";
    $(document).ready(function(){     
        $("#subject-select").chosen();
        $("#user-select").chosen();
        $("#group-select").chosen();
        if(opener!=null){
            window.close();
        }else{
            if($("#subject-select").val()!=null){
                selectedSubject = $("#subject-select").val().join(",");
            }
            if($("#user-select").val()!=null){
                selectedUser = $("#user-select").val().join(",");
            }
            if($("#type-select").val()!="---"){
                selectedType = $("#type-select").val();
            }
            if($("#show-used").attr("checked")!=undefined){
                selectedUsed = "1";
            }
            update();
        }        
        $("#subject-select").change(function(){
            var subject = $(this).val();
            if(subject==null){
                selectedSubject="";
            }else{
                selectedSubject = subject.join(",");
            }
            update();
        });
        $("#user-select").change(function(){
            var user = $(this).val();
            if(user==null){
                selectedUser="";
            }else{
                selectedUser = user.join(",");
            }
            update();
        });
        $("#type-select").change(function(){
            var type = $(this).val();
            if(type=="---"){
                selectedType="";
            }else{
                selectedType = type;
            }
            update();
        });
        $("#show-used").change(function(){
            if($(this).attr("checked") != undefined){
                selectedUsed="1";
            }else{
                selectedUsed="0";
            }
            update();
        });
        $("#group-select").change(function(){
            var group = $(this).val();
            if(group==null){
                selectedGroup = "";
            }else{
                selectedGroup = group.join(",");
            }
            update();
        });
        $("#selAll").change(function(){
            if($(this).attr("checked")=="checked"){
                $("#questions input[type=checkbox]").attr("checked", true);
                $("#questions input[type='checkbox']").change();
            }else{
                $("#questions input[type=checkbox]").removeAttr("checked");
                $("#questions input[type='checkbox']").change();
            }            
        });
        $("#selection-options #selection-group-select").change(function(){
            if($(this).val()!=0){
                var selected = $("#questions input[type='checkbox']:checked");
                var group = $(this).val();
                var questions = []
                for(var x = 0; x<selected.length; x++){
                    questions.push($(selected[x]).parent().parent(".question").attr("data-uid"));
                }
                $.post("{% url 'qset.views.addQuestionToGroup' %}", {"q":JSON.stringify(questions), "g": group}, function(data){
                    if(data.success){
                        flashMessage("Questions added to group.");
                        selected.removeAttr("checked");
                        $("#selection-group-select").val(0);
                        $("#questions input[type='checkbox']").change();
                        $("#selAll").removeAttr("checked");
                    }
                    update();
                });
            }
        });    
    });

    function update(){
        $.get('{{path}}', {"creator":selectedUser, "subject":selectedSubject, "order":currOrder, "all":true, "used":selectedUsed, "type":selectedType, "group": selectedGroup}, function(data){
            var table = $("#questions");
            $(".question").unbind();
            $(".del").unbind();
            $("#questions .text a").unbind();
            table.html("");
            for(var x = 0; x<data.length; x++){
                var q = data[x];
                table.append("<div class='question-container'><div class='question'></div></div>");
                var question = $(".question").last();
                question.append("<div class='checkbox'><input type='checkbox' /></div>");
                question.append("<div class='tags'></div>");
                {% if groups %}
                    question.append("<div class='text'><a href='/question/edit/"+q.id+"/'>"+q.text+"</a></div>");
                {% else %}
                    question.append("<div class='text'>"+q.text+"</div>");
                {% endif %}
                question.attr("data-uid", q.id);
                question.append("<div class='used'>"+((q.used==1)?"<img height='15px' src='/static/images/check.png'/>":"<img height='15px' src='/static/images/cancel.png'/>")+"</div>");

                //Add tags
                var tags = $(".tags").last();
                tags.append("<span class='tag subject' title='Filter by "+q['subject']+"' data-id='"+q['subject-id']+"'>"+q.subject+"</span>");
                tags.append("<span class='tag type' title='Filter by "+((q.type==0)?"Multiple Choice":"Short Answer")+"' data-id='"+q.type+"''>"+((q.type==0)?"MC":"SA")+"</span>");
                {% if groups %}
                    if(q.group!=null){
                        tags.append("<span class='tag group' title='Filter question in "+q.group+"' data-id='"+q['group-id']+"'>"+q.group+"</span>");
                    }           
                {% else %}
                    tags.append("<span class='tag user' title='Filter questions by "+q['user']+"' data-id='"+q['user-id']+"'>"+q['user-short']+"</span>");
                {% endif %}
            }   
            addTableListeners();
        });
    }

    function addTableListeners(){
        $(".tag.subject").click(function(){
            $("#subject-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
            $("#subject-select").trigger("liszt:updated");
        });
        $(".tag.group").click(function(){
            $("#group-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
            $("#group-select").trigger("liszt:updated");
        });
        $(".tag.user").click(function(){
            $("#user-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
            $("#user-select").trigger("liszt:updated");
        });
        $(".tag.type").click(function(){
            $("#type-select").find('[value='+$(this).attr('data-id')+']').attr("selected", true).change();
        });   
        $(".orderable").click(function(){
            var temp = $(this).attr("data-order");
            if(currOrder.trim() == temp.trim()){
                currOrder = "-"+currOrder;
            }else{
                currOrder = temp;
            }
            update();
        });
        $(".del").click(function(){
            var q_id = $(this).attr("data-id");
            var ok = confirm("Are you sure you want to delete this entry?");
            if (ok == true){
                $.get('/question/delete/'+q_id+"/", function(data){
                    if(data.success="true"){
                        flyDown("Entry Successfully Deleted.",0);
                    }else{
                        flyDown("Delete unsuccessful.",1)
                    } 
                    update();
                });
            }
        });
        $(".edit").click(function(){
            var q_id = $(this).attr("data-id");
            var url = "/question/edit/"+q_id+"/"
            var specs = "width=450,height=500,menubar=0,scrollbars=0,toolbar=0,status=0,toolbar=0,resizable=0,location=0";
            newWindow = window.open(url,"Edit Question",specs);
            return false;
        });
        $("#questions .text a").click(function(){
            var url = $(this).attr('href');            
            var specs = "width=450,height=500,menubar=0,scrollbars=0,toolbar=0,status=0,toolbar=0,resizable=0,location=0";
            newWindow = window.open(url,"Edit Question",specs);
            return false;
        });
        $("#questions input[type='checkbox']").change(function(){
            if($(this).attr("checked")){
                $(this).parent().parent().parent('.question-container').addClass('selected');
            }else{
                $(this).parent().parent().parent('.question-container').removeClass('selected');
            }
            if($("#questions input[type='checkbox']:checked").length>0){
                $("#selection-options").slideDown();
                $("#filter-options").slideUp();
            }else{
                $("#selection-options").slideUp();
                $("#filter-options").slideDown();
            }
        });    
    }
</script>
{%endblock%}

{% block header %}
    <h1>{{group.name}} Questions</h1>
    <div id="options">
        <div id="select-options">
            <input type="checkbox" id="selAll"/>
        </div>
        <div id="filter-options">        
            Subject
            <select id="subject-select" multiple="multiple" data-placeholder="Subjects to filter">
                {%for subject in subjects%}
                    <option value="{{subject.id}}">{{subject}}</option>
                {%endfor%}
            </select>
            Type 
            <select id="type-select">
                <option selected="selected">---</option>
                <option value="0">Multiple Choice</option>
                <option value="1">Short Answer</option>
            </select>
            {%if users%}
                User 
                <select id="user-select" multiple="multiple" data-placeholder="Users to filter">
                    {%for user in users%}
                        <option value="{{user.id}}">{{user.get_full_name}} ({{user}})</option>
                    {%endfor%}
                </select>
            {%endif%}
            {%if groups%}
                Group 
                <select id="group-select" multiple="multiple" data-placeholder="Group to filter">
                    {%for group in groups%}
                        <option value="{{group.uid}}">{{group.name}}</option>
                    {%endfor%}
                </select>
            {%endif%}
            Show Used <input type="checkbox" id="show-used" name="used"/> <br/>            
        </div>
        <div id="selection-options">
            Move to 
            <select id="selection-group-select">
                <option selected="selected" value="0">---</option>
                {%for g in groups%}
                    <option value="{{g.uid}}">{{g.name}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
{% endblock header %}

{%block content%}    
    <div id="questions">
    </div>
{%endblock%}