{%extends 'base.html'%}

{%block head%}
<script src="/static/js/jquery.js"></script>
<style>
    .question{
        font-family: "Times New Roman", Georgia, Serif;
    }
    .num{
        display:inline-block;
        vertical-align: top;
    }
    .question .qbody{
        display:inline-block;
    }
    .type{
        text-align: center;

    }
    .subject{
        font-weight: bold;
    }
    .sub_type{
        font-style: italic;
    }
    .choices{
        margin:1em 0;
    }
    .q_id{
        display:none;
    }
</style>
<script>
    var template = "<div class='question'><span class='q_id'></span><p class='type'></p><div class='num'></div> <div class='qbody'><span class='subject'></span> <span class='sub_type'></span> <span class='text'></span><div class='choices'></div><span class='answer'></span></div></div>";
    $(document).ready(function(){
        $.get("/getall/?all=true&random=true", function(data){
            var container = $("#question-container");
            for(var x=0; x<data.length; x++){
                var question = data[x];
                container.append(template);
                $('.question .type').last().text((x%2==0)?"TOSS-UP":"BONUS");
                $('.question .num').last().text((x+1)+".");
                $('.question .subject').last().text(question.subject);
                $('.question .sub_type').last().text((question.type==0)?"Multiple Choice":"Short Answer");
                if(question.type == 0){
                    var choices = $(".question .choices").last();
                    choices.append("W) "+question.w+"<br/>");
                    choices.append("X) "+question.x+"<br/>");
                    choices.append("Y) "+question.y+"<br/>");
                    choices.append("Z) "+question.z+"<br/>");
                }
                $('.question .text').last().text(question.text);
                $('.question .answer').last().text("ANSWER: "+question.answer);
                $('.question .q_id').last().text(question.id);
            }
        });
        $("#finalize").submit(function(){
            questions = [];
            var data = $(".question");
            for(var x = 0; x<data.length; x++){
                var id = $(data[x]).children('.q_id').text();
                var type = ($($(data[x]).children('.type')).text()=="TOSS-UP")?0:1;
                questions.push({id:id,type:type,q_num:(x+1)});
            }
            $("#questions").val(JSON.stringify(questions));
        });
    });
</script>
{%endblock%}

{%block content%}
<div id="content-container">
    <div id="question-container">
    </div>
    <form id="finalize" method="post" action="/set/finalize/">
        <input type="hidden" id="questions" name="questions"/>
        <input type="hidden" name="set_id" value="{{set.id}}"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
{%endblock%}