{%extends "base.html"%}
{%block head%}
<style type="text/css">
    #id_subjects{
        vertical-align: top;
        height:165px;
    }
    #id_subjects, #id_description, #id_name{
        width:300px;
    }
    textarea{
        vertical-align: top;
        resize: vertical;
        height:80px;
    }
    h1{
        background-color: #EEEEEE;
        text-align: center;
        padding:10px;
        margin: 0;
    }
    #id_num_questions{
        width:30px;
    }
    .labels{
        font-size: 1.2em;
        padding:5px;
        text-align: right;
        vertical-align: top;
    }
    table{
        width:600px;
        margin: 0 auto;        
    }
    #form-container{
        border:1px dashed green;
        padding:10px;
    }
    #form-container h2{
        margin: 0px;
    }
    .fields{
        padding:5px;
    }
    input[type=submit]{
        margin:20px 0px;
        font-weight: bold;
    }
    .help_text{
        font-size: .7em;
        color:gray;
        width:75px;
    }
    .question{
        font-family: "Times New Roman", Georgia, Serif;
        border: 1px solid #EEEEEE;
    }
    .question:hover{
        border-color: #cccccc;
    }
    .type{
        margin:20px 0;
    }
    .choices{
        margin:1em 0;
    }
    .q_id{
        display:none;
    }
    #q_selection{
        display: none;
    }
    #q_op_toggle{
        font-size: .5em;
        display:none;
        text-decoration: underline;
    }
    .options{
        float:right;
        opacity: .4;
    }
    .options:hover{
        opacity:1;
    }
    .options img{
        float:right;
        cursor:move;
    }
</style>
<script>
    var template = "\
    <div class='question'> \
        <div class='options'> \
            <a href='#' class='new_q'>Reroll Question</a><br/> \
            <img src='/static/images/move.png'/> \
        </div> \
        <span class='q_id'></span> \
        <center class='type'></center> \
        <div class='qbody'> \
            <span class='num'></span> \
            <strong class='subject'></strong> \
            <em class='sub_type'></em> \
            <span class='text'></span> \
            <div class='choices'></div> \
            <span class='answer'></span> \
        </div> \
    </div>";
    var form_data;
    var q_arr = [];
    {%if set_questions%}
        q_arr = {{set_questions|safe}};
    {%endif%}
    $(document).ready(function(){      
        $("#set_creation_form").submit(function(){
            form_data = {
                "name": $("#id_name").val(),
                "group": $("#id_group").val(),
                "description": $("#id_description").val(),
                "subjects": $("#id_subjects").val().join(','),
                "num_q": $("#id_num_questions").val(),
                "toss_up_round": Boolean($("#id_toss_up").attr("checked")),
                {%if set%}
                "set_id": "{{set.uid}}",
                {%endif%}
            }
            $("#q_op_toggle").show();
            $("#q_op_toggle").click();
            if(q_arr.length == 0){
                initializeQuestions();
            }else{
                displayQuestions();
            }
            return false;
        });        
        $("#q_op_toggle").click(function(){
            if($("#q_options").css("display")=="none"){
                $("#q_options").slideDown();
                $(this).text("Hide");
            }else{
                $("#q_options").slideUp();
                $(this).text("Show");
            }                
        });
        $("#finalize").submit(function(){
            var questions = [];
            for(var x = 0; x<q_arr.length; x++){
                var id = q_arr[x].id;
                var type = (!form_data.toss_up_round&&x%2!=0)?1:0;
                questions.push({id:id,type:type,q_num:(x+1)});
            }
            $("#questions").val(JSON.stringify(questions));
            $("#form_data").val(JSON.stringify(form_data));
        });        
        if(q_arr.length > 0){
            $("#set_creation_form").submit();
        }
    });

    function getQuestion(replace_num){
        var questions = [];
        var data = $(".question");
        for(var x = 0; x<data.length; x++){
            var id = $(data[x]).children('.q_id').text();
            questions.push(id);
        }
        var subjects=form_data.subjects;
        $.post("/getall/?all=true&used=0&random=true&num=1&subject="+subjects, {"questions": JSON.stringify(questions)}, function(data){
            if(data.success == undefined){
                q_arr[replace_num] = data[0];
                displayQuestions();                
            }else{
                alert(data.msg);
            }
        });
    }

    function initializeQuestions(){
        var num=form_data.num_q;
        var subjects=form_data.subjects;        
        $.get("/getall/?all=true&used=0&random=true&num="+num+"&subject="+subjects, function(data){
            q_arr = [];
            for(var x=0; x<data.length; x++){
                q_arr.push(data[x]);
            }
            displayQuestions();
        });
    }

    function displayQuestions(){
        $("#q_selection").slideDown();
        var toss_up_round=form_data.toss_up_round;
        var container = $("#question-container");
        container.html("");
        for(var x=0; x<q_arr.length; x++){
            var question = q_arr[x];
            container.append(template);
            if(toss_up_round){
                $('.question .type').last().text("TOSS-UP");
            }else{
                $('.question .type').last().text((x%2==0)?"TOSS-UP":"BONUS");                    
            }
            $('.question .num').last().text((x+1)+".");
            $('.question .subject').last().text(question.subject);
            $('.question .sub_type').last().text((question.type==0)?"Multiple Choice":"Short Answer");
            if(question.type == 0){
                var choices = $(".question .choices").last();
                choices.append("W) "+question.w+"<br/>");
                choices.append("X) "+question.x+"<br/>");
                choices.append("Y) "+question.y+"<br/>");
                choices.append("Z) "+question.z+"<br/>");
            }
            $('.question .text').last().html(question.text);
            // $('.question .answer').last().html("ANSWER: "+question.answer);
            $('.question .q_id').last().text(question.id);
        }
        $(".new_q").unbind();
        $(".new_q").click(function(){
            var currDiv = $(this).parent().parent(".question");
            getQuestion($(".question").index(currDiv));
            return false;
        });
    }
</script>
{%endblock%}

{%block content%}
    <h1>Set Creation</h1>   
    <form id="set_creation_form" method="post">
        <div id="form-container">
            <h2>Options <a href="#" id="q_op_toggle">Show</a></h2>
            <div id="q_options">
                <table>
                    {%for field in form%}
                        <tr>
                            <td class="labels">{{field.label_tag}}</td>
                            <td class="fields">{{field}}</td>
                            <td class="help_text">{{field.help_text}}</td>
                        </tr>
                    {%endfor%}
                </table>
                <input type="submit" value="Submit Query"/> 
            </div>
        </div>        
    </form>
    <div id="q_selection">
        <div id="question-container">
        </div>
        <form id="finalize" method="post">
            <input type="hidden" id="questions" name="questions"/>
            <input type="hidden" name="form_data" id="form_data"/>
            <input type="submit" value="Submit Set"/>
        </form>
    </div>
{%endblock%}