{%extends 'base.html'%}
{%block head%}
    <style>
        .question{
            font-family: "Times New Roman", Georgia, Serif;
        }
        .type{
            margin:20px 0;
        }
        .choices{
            margin:1em 0;
        }
        .q_id{
            display:none;
        }
        #content-container{
            margin-top:60px;
        }
    </style>
{%endblock%}

{%block content%}
    {%for q in questions%}
        <div class='question'>
            <span class='q_id'>{{q.id}}</span>
            <center class='type'>{{q.type}}</center>        
            <div class='qbody'>
                <span class='num'>{{q.num}}.</span> 
                <strong class='subject'>{{q.subject}}</strong> 
                <em class='sub_type'>{{q.subtype}}</em> 
                <span class='text'>{{q.text}}</span>
                <div class='choices'>
                    {%if q.subtypenum == 0%}
                        W) {{q.w}}<br/>
                        X) {{q.x}}<br/>
                        Y) {{q.y}}<br/>
                        Z) {{q.z}}<br/>
                    {%endif%}
                </div>
                ANSWER: <span class='answer'>{{q.answer}}</span>
            </div>
        </div>
    {%endfor%}
{%endblock%}