<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title%}Scibowl Project{%endblock%}</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    {%block head%}{%endblock%}
</head>
<body>
    {%block topbar%}
    <div id="topbar">
        <div id="userOptions">
            {%if user.is_authenticated%}
            Logged in as {{user.username}} <a href="/logout/">Logout</a>
            {%else%}
            <a href="/login/?next=/home/">Login</a>
            {%endif%}
        </div>
    </div>
    {%endblock%}
    {% block content%}{%endblock%}
</body>
</html>