<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>{% block title%}Scibowl Project{%endblock%}</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            flashMessages();
            $("#userOptions").toggle(function(){
                $("#userOptionsMenu").show();
            },
            function(){
                $("#userOptionsMenu").hide();
            });
        });
        function flashMessages(){
            if($(".messages").children("li").length > 0){
                $(".messages").fadeIn(300).delay(2500).slideUp(300);
                $(".messages").hover(function(){
                    $(this).clearQueue();
                }, function(){                
                    $(this).delay(2500).slideUp(300);
                });
            }
        }
        function flashMessage(msg){
            $(".messages").html("");
            $(".messages").append("<li>" + msg + "</li>");
            flashMessages();
        }
    </script>
    {%block head%}{%endblock%}
</head>
<body>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <div id="topbar">
        {%block topbar%}    
            <div id="nav">
                <a href="/home">Home</a>
                {%if user.is_authenticated%}
                <a href="javascript:questionPopup()">Add Question</a>
                <a href="/set/add/">Set Creation</a>
                <a href="{% url 'qset.views.filterQuestions'%}">All Questions</a>
                <a href="{% url 'qset.views.listSets'%}">Sets</a>
                <a href="{% url 'usermanage.views.listGroups'%}">Groups</a>
                {%endif%}
            </div>
            {%if user.is_authenticated%}
                <div id="userOptions">
                    Logged in as <strong>{{user.get_full_name}} ({{user.username}})</strong> <img class="midimg" src="/static/images/arrow_down.png"/>
                </div>
            {%else%}
                <div id="loginbutton">
                    <a href="{%url 'django.contrib.auth.views.login'%}">Login</a>
                </div>
            {%endif%}
            <div id="userOptionsMenu">
                <img src="/static/images/profile_icon.jpg"/>
                <div id="userInfo">
                    <p class="full_name">{{user.get_full_name}}</p>
                    <p class="username">{{user.username}}</p>
                    <div class="links">
                        <a href="{%url 'usermanage.views.editInfo'%}">Account Info</a>
                    </div>
                    <div id="user-button-container">
                        <button onclick="window.location.href='/logout/'">Logout</button>
                    </div>
                </div>
                
            </div>
        {%endblock%}
    </div>
    <div id="header">
        <header>
            {% block header %}{% endblock header %}
        </header>
    </div>
    <div id="content-container">
        {% block content%}{%endblock%}
        <div class='clear'></div>
    </div>
</body>
</html>