{%extends "base.html"%}
{% block head %}
    <style type="text/css"> 
    #content-container{
        margin:0 auto;
    }
    #form-container{
        width:400px;
        /*text-align: right;*/
        margin:0 auto;
        padding:20px;
    }
    input[type=submit]{
        font-weight: bold;
        margin:1em;
    }
    </style>
{% endblock head %}

{% block header %}
    <h1>{{heading}}</h1>
{% endblock header %}

{%block content%}
    <div id="form-container">
        {% block form%}
        <form method="post">
            <table>
            {{form.as_table}}
            </table> 
            <input type="submit" value="Submit"/>
        </form>
        {%endblock%}        
    </div>
{%endblock%}