{%extends "base.html"%}
{% block head %}
    <style type="text/css">   
    header{
        background-color: #EEEEEE;
        text-align: center;
        padding:10px;
    }
    </style>
{% endblock head %}
{%block content%}
    <header>
        <h1>{{heading}}</h1>
    </header> 
    <div id="form-container">
        {% block form%}
        <form method="post">
            <table>
            {{form.as_table}}
            </table> 
            <input type="submit" value="Submit"/>
        </form>
        {%endblock%}        
    </div>
{%endblock%}